<style>.highlight{background-color:pink !important}</style>
<script src="https://unpkg.com/jquery@3.2.1"></script>
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">

<div class="b-data__bg" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1e/Fake_News_%2832332513102%29.jpg');"><span style="position: absolute; right: 10px; bottom: 10px; font-size: 12px; color:white;"><i>Foto <a href='#'>Wikimedia Commons</a></i></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>„Nad Evropou se valí radioaktivní mrak.“ Přinášíme žebříček falešných zpráv pro rok 2017</strong><br>
		<small> Letošní vymyšlené zprávy mají i desetitisíce sdílení - a svým autorům přinášejí nezanedbatelný zisk. </small>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Michal Zlatkovský</a>
	<span class="meta__separator">|</span>
	<time>23. května 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">
<div class="row-main row-main--narrow">

<p>Zatímco Polsko vystupuje z Evropské unie, česká armáda přechází pod německé velení a nad Evropou se valí radioaktivní mrak, Donald Trump odstraňuje z Bílého domu islámské náboženské symboly. Tak letos vidí svět čtenáři webů, které se specializují na šíření <i>fake news</i> - překroucených nebo vymyšlených zpráv.</p>
<p>O jejich nebezpečnosti se začalo celosvětově mluvit loni v období amerických prezidentských voleb. Před půlrokem jsme proto <a href="https://interaktivni.rozhlas.cz/dezinformace/">provedli analýzu</a> českých textů z dezinformačních webů, která ukázala, že šíření falešných zpráv zdaleka není okrajovým jevem ani v Česku. A z dnešního přehledu textů za prvních pět měsíců roku 2017 plyne, že jejich vliv je na českém internetu stále silný.</p>
<p>Za dezinformační a manipulativní weby označila několik desítek stránek <a href="http://www.evropskehodnoty.cz/fungovani-ceskych-dezinformacnich-webu/weby_list/">studie think-tanku Evropské hodnoty</a>, z níž kromě serveru iROZHLAS.cz vycházejí i <a href="https://www.irozhlas.cz/zpravy-domov/vsechny-fake-news-nelze-odhalit-maji-fakticky-zaklad-a-pusobi-verohodne-varuje-odbornik-_201612020555_ogolis">odborníci</a>, kteří fenomén <i>fake news</i> studují. </p>
<p>Dezinformační weby fungují nejčastěji na principu míchání skutečného zpravodajství, v jádru pravdivých, ale senzačně zpracovaných informací a částěčně či úplně nepravdivých textů. Jejich nejúspěšnější texty byly loni na sociálních sítích <a href="https://interaktivni.rozhlas.cz/dezinformace/">sdílenější</a> než ty z tradičních médií.</p>
<p>I když se v roce 2017 se ve velkém sdílejí články z větších i menších stránek, dlouhodobě nejčtenějším dezinformačním webem zůstavají Parlamentní listy. „Z mého pohledu jsou nejnebezpečnější,“ řekl serveru iROZHLAS.cz politolog Miloš Gregor, spoluautor analýzy zaměřené na dezinformace. </p>
<p>„Právě proto, že řada obsahu je fakticky správně, takže vzbuzují důvěru, ale poměrně často se tam objeví zpravodajsky neseriózní a velice emotivně zabarvené výkřiky. To už zavání tendencí čtenáři manipulovat. Najdeme tam i konspirační teorie i hoaxy.“</p>
<p>Přehled jsme sestavili za použití stejné metody <a href="https://interaktivni.rozhlas.cz/dezinformace/">jako loni</a>. V první tabulce je desítka nejsdílenějších zpráv, které lze jednoznačně označit za nepravdivé, s faktickými nesmysly v titulku nebo textu zprávy.</p>
<p></div><div class="row-main row-main--article">
<table id="filtered" class="display" width="100%"></table>
<div style="margin-left: 20px"><i>Data: <a href="https://app.buzzsumo.com">Buzzsumo</a>. Aktuální k 22. květnu 2017.</i></div>
</div><div class="row-main row-main--narrow"></p>
<p>Stejně jako loni se dezinformační weby drží témat imigrace a islámu. Je to případ prvních dvou článků v žebříčku. První z nich tvrdí, že Polsko hrozí odchodem z EU, pokud bude nuceno příjmout uprchlíky podle kvót schválených Evropskou unií. Ačkoliv článek vychází ze skutečné kritiky postoje EU k uprchlíkům ze strany polské premiérky Beaty Szydlové, výhružka odchodem z unie nikdy nepadla.</p>
<p>Druhý text o údajných vztazích německých lékařek a muslimských imigrantů má přes 20 000 sdílení. Na webu svobodnenoviny.eu vyšel v lednu, jde však o překlad anglického textu z anonymního blogu z konce roku 2015, tedy doby, kdy migrační krize vrcholila. </p>
<p>Druhá tabulka uvádí nepravdivé zprávy, označené červeně, v kontextu všech textů sdílených z dezinformačních webů. Mezi ty patří komentář bývalého místopředsedy Bloku proti islámu Petra Hampla o EET, exkluzivní zpráva o milosti pro Jiřího Kajínka, ale také rozhovor s 94letým generálem Emilem Bočkem. Jde o typický produkt Parlamentních listů. U těch stále platí, že se <a href="https://zpravy.aktualne.cz/domaci/parlamentni-listy/r~b0558610268b11e7afda0025900fea04/?redirected=1495115850">většinou</a> vyhýbají zjevně vymyšleným zprávám. Neprokazatelné informace a skandální výroky ale často nechávají pronášet respondenty v rozhovorech. </p>
<p></div><div class="row-main row-main--article">
<table id="unfiltered" class="display" width="100%"></table>
</div><div class="row-main row-main--narrow"></p>
<p>Z desítky nejsdílenějších článků z dezinformačních webů lze za falešné zprávy přímo označit polovinu. Kromě dvou zmíněných zpráv jsou to oba články z proruského konspiračního webu Aeronet a zpráva o tom, že americký prezident Donald Trump nechal z Bílého domu odstranit islámské náboženské symboly. Původně přitom šlo o zprávu vymyšlenou <a href="https://www.buzzfeed.com/craigsilverman/a-hoax-about-trump-removing-islamic-symbols-from-the-white-h?utm_term=.ywr4QzQm4#.orX36m6z3">protitrumpovským táborem</a>.</p>
<h2>Příjmy dezinformátorů? Hlavně z reklamy</h2>
<p>Jednou z motivací autorů dezinformačních webů může být finanční zisk. Výdělky jednotlivých stránek se přitom různí, jak vyplývá z analýzy, kterou pro iROZHLAS.cz zpracovalo sdružení <a href="https://www.cpex.cz/">Czech Publisher Exchange</a>. „Výdělek většiny dezinformačních webů bude podle dostupných údajů o návštěvnosti velmi nízký, kolem 10 až 20 tisíc korun, často i méně,“ říká ředitel sdružení Matěj Novák.</p>
<p>Výjimkou je web AC24, u kterého analýza odhadla měsíční příjem z reklamy kolem 50 tisíc, a Parlamentní listy, které si na reklamě vydělají půl miliónu až milión měsíčně. Ty však získávají i peníze z jiných zdrojů - například <a href="https://www.irozhlas.cz/zpravy-domov/kraj-platil-za-oslavne-clanky-o-haskovi-urad-utratil-statisice-na-parlamentnich-listech_201608041255_pholinkova">prostřednictvím PR článků placených veřejnou správou</a>. „Některé weby, jako například Sputnik News nebo Aeronet, reklamu vůbec neprodávají,“ dodává Novák. „Je tedy pravděpodobné, že jsou financovány jinak.“</p>
<p>Ty weby, které na reklamě vydělávají, používají reklamní systémy Seznam Sklik a Google AdSense. Seznam zároveň některé z nich, například inStory.cz, propaguje na své titulní stránce v sekci se „zajímavými články z českého internetu“. Jak ale říká mluvčí Seznamu Irena Zatlouková, problematiku dezinformačních webů server právě analyzuje. „Můžu prozradit, že kromě právních otázek teď řešíme například i to, zda existují strojové metriky na odhalení [falešných zpráv]. Určitě se tedy tomuto tématu věnujeme a jakmile skončíme fázi analýz, přejdeme k činům.“</p>

</div>
</div><script>var data=[[28318,"Polsko tvrdě proti EU: „Nepřijmeme žádné uprchlíky a opustíme EU, pokud nás budete nutit!“","http://svobodnenoviny.eu/polsko-tvrde-proti-eu-neprijmeme-zadne-uprchliky-a-opustime-eu-pokud-nas-budete-nutit/","Y"],[18271,"Tady je důvod, proč Steve Jobs nenechal své děti hrát si s iPady","http://www.ac24.cz/zpravy-ze-sveta/5039","N"],[16538,"Andrej Babiš oficiálně přiznal, že EET je ztrátová záležitost. Náklady jsou vyšší, než se podaří vybrat","http://euportal.parlamentnilisty.cz/Articles/16912-andrej-babis-oficialne-priznal-ze-eet-je-ztratova-zalezitost-naklady-jsou-vyssi-nez-se-podari-vybrat.aspx","N"],[17823,"Elektrošoky, kovová tyč do páteře, stáhnutí z kůže a to vše zaživa. Výroba kabelky Louis Vuitton","http://www.ac24.cz/zpravy-ze-sveta/9710-louis-vuitton-kabelka-krokodyl-kuze","N"],[15513,"Nad Evropou se valí radioaktivní mrak pocházející zřejmě z podivné exploze ve francouzské jaderné elektrárně. Vlády mlčí, Francie se snaží bagatelizovat celý incident slovy o neškodnosti radionuklidů a my doporučujeme nakoupit okamžitě jódové tablety a dozimetry!","http://aeronet.cz/news/nad-evropou-se-vali-radioaktivni-mrak-pochazejici-zrejme-z-podivne-exploze-ve-francouzske-jaderne-elektrarne-vlady-mlci-francie-se-snazi-bagatelizovat-cely-incident-slovy-o-neskodnosti-radionuklidu/","Y"],[20216,"Česká lékařka pracující v Německu varuje svět","http://svobodnenoviny.eu/ceska-lekarka-pracujici-v-nemecku-varuje-svet/","Y"],[14799,"A je to venku! Důkazy a fotografie potvrdily, že chemický útok v Idlíbu byl zinscenovaný Bílými přilbami a americkou CIA. Syrská opozice na Twitteru informovala o chemickém útoku den předem! Trump má vážný problém, má kolem sebe zrádce, lháře a nekontroluje silové složky USA stejně, jako je nekontroloval Obama!","http://aeronet.cz/news/a-je-to-venku-dukazy-a-fotografie-potvrdily-ze-chemicky-utok-v-idlibu-byl-zinscenovany-bilymi-prilbami-a-americkou-cia-syrska-opozice-na-twitteru-informovala-o-chemickem-utoku-den-predem/","Y"],[14794,"Pavel Novotný pro PL: Trump je k*kot. Zemana volí kreténi, které by dřív shodili z útesu. Až vychcípá generace důchodců, bude prezidentovat Kalousek a lidi jako Okamura budou sloužit nám, Židům","http://www.parlamentnilisty.cz/arena/rozhovory/Pavel-Novotny-pro-PL-Trump-je-kokot-Zemana-voli-kreteni-ktere-by-driv-shodili-z-utesu-Az-vychcipa-generace-duchodcu-bude-prezidentovat-Kalousek-a-lidi-jako-Okamura-budou-slouzit-nam-Zidum-474340","N"],[14846,"Trump udělal další zásadní krok: přikázal odstranit islámské symboly a praktiky v Bílém domě","https://www.lajkit.cz/zpravy/item/961-trump-odstranit-islam-symbol-bily-dum","Y"],[19637,"Žádné muslimy živit nebudeme. Republika je rozkradená, vše v cizích rukách, promlouvá generál, válečný hrdina, nositel Řádu Bílého lva","http://www.parlamentnilisty.cz/arena/rozhovory/Zadne-muslimy-zivit-nebudeme-Republika-je-rozkradena-vse-v-cizich-rukach-promlouva-general-valecny-hrdina-nositel-Radu-Bileho-lva-473339","N"],[13145,"EXKLUZIVNĚ Zeman se rozhodl. Kajínek dostane milost","http://www.parlamentnilisty.cz/arena/monitor/EXKLUZIVNE-Zeman-se-rozhodl-Kajinek-dostane-milost-487405","N"],[11268,"Všechny ženy budou nosit muslimské šátky! Nový návrh zeleného prezidenta Rakouska","http://www.parlamentnilisty.cz/arena/monitor/Vsechny-zeny-budou-nosit-muslimske-satky-Novy-navrh-zeleneho-prezidenta-Rakouska-485257","N"],[10276,"Pavel Novotný napráskal rodinu, která si s dítětem zpívala „Mešitu“ od Ortelu. Ženou ho k soudu a bude veselo","http://www.parlamentnilisty.cz/arena/monitor/Pavel-Novotny-napraskal-rodinu-ktera-si-s-ditetem-zpivala-Mesitu-od-Ortelu-Zenou-ho-k-soudu-a-bude-veselo-477577","N"],[10098,"Poselství Michaela Jacksona, které bylo ignorováno médii. Z těchto slov mrazí...","http://www.svetkolemnas.info/novinky/zahranicni/2984-poselstvi-michaela-jacksona-ktere-bylo-ignorovano-medii-z-techto-slov-mrazi","Y"],[10794,"Jak se žije občanům v Turkmenistánu? Občané mají zdarma plyn, poplatky na energie, benzín a nejen to...","http://www.svetkolemnas.info/novinky/zahranicni/5375-jak-se-zije-obcanum-v-turkmenistanu-obcane-maji-zdarma-plyn-poplatky-na-energie-benzin-a-nejen-to","Y"],[8853,"Vybuchuje jeden z největších skladů munice v Evropě. Naše média mlčí - asi ještě nedostala noty, jak mají zpívat.","http://www.novarepublika.cz/2017/03/vybuchuje-jeden-z-nejvetsich.html","Y"],[9449,"P*ča zrzavá Slonková. Sobotka je ta největší svině, co jsem poznal. Zaorálek je debil, kráva Marksová chlastá. Andrej Babiš se rozpovídal a někdo si jej nahrál","http://www.parlamentnilisty.cz/arena/monitor/Pica-zrzava-Slonkova-Sobotka-je-ta-nejvetsi-svine-co-jsem-poznal-Zaoralek-je-debil-krava-Marksova-chlasta-Andrej-Babis-se-rozpovidal-a-nekdo-si-jej-nahral-486001","N"],[9194,"Toto prošlo o jediný hlas na brněnském magistrátu: Přípravy na přijímaní uprchlíků, arabština na úřadech, neziskovky v akci","http://www.parlamentnilisty.cz/arena/monitor/Toto-proslo-o-jediny-hlas-na-brnenskem-magistratu-Pripravy-na-prijimani-uprchliku-arabstina-na-uradech-neziskovky-v-akci-474801","Y"],[9338,"Imigranti nás vyhubí. Nechci tu vůbec žádné uprchlíky. Děsivé pitomosti z Bruselu, rozvrat a katastrofa. Klaus naprosto drsně a bez zábran debatoval o běžencích","http://www.parlamentnilisty.cz/arena/monitor/Imigranti-nas-vyhubi-Nechci-tu-vubec-zadne-uprchliky-Desive-pitomosti-z-Bruselu-rozvrat-a-katastrofa-Klaus-naprosto-drsne-a-bez-zabran-debatoval-o-bezencich-475711","N"],[9251,"To nemá obdoby. Stropnický předal polovinu naší armády pod německé velení. Vojenský analytik vstává ze židle","http://www.parlamentnilisty.cz/arena/monitor/To-nema-obdoby-Stropnicky-predal-polovinu-nasi-armady-pod-nemecke-veleni-Vojensky-analytik-vstava-ze-zidle-476428","Y"]];for(var i=data.length-1;i>=0;i--){var html="<a href='"+data[i][2]+"' rel='nofollow' target='_blank' class='potvrd'>"+data[i][1]+"</a>";data[i].push(html);data[i].push(data[i][2].split("/")[2].replace("www.",""));data[i][0]=data[i][0]/1000;}
$(document).ready(function(){$('#filtered').DataTable({responsive:true,paging:false,dom:"t",language:{url:"https://interaktivni.rozhlas.cz/tools/datatables/Czech.json"},order:[[0,"desc"]],data:data,columns:[{title:"Interakcí na Facebooku",render:$.fn.dataTable.render.number(' ',',',1,null,' tisíce')},{title:"Titulek"},{title:"url"},{title:"fakenews?"},{title:"Článek"},{title:"Web"}],columnDefs:[{targets:0,responsivePriority:1},{targets:1,visible:false,},{targets:2,visible:false,},{targets:3,visible:false,},{targets:4,responsivePriority:2},{targets:5,responsivePriority:3,}],initComplete:function(){$("#filtered").DataTable().columns(3).search("Y").draw();},});$('#unfiltered').DataTable({responsive:true,paging:true,searching:false,language:{url:"https://interaktivni.rozhlas.cz/tools/datatables/Czech.json"},order:[[0,"desc"]],data:data,columns:[{title:"Interakcí na Facebooku",render:$.fn.dataTable.render.number(' ',',',1,null,' tisíce')},{title:"Titulek"},{title:"url"},{title:"fakenews?"},{title:"Článek"},{title:"Web"}],columnDefs:[{targets:0,responsivePriority:2},{targets:1,visible:false,},{targets:2,visible:false,},{targets:3,visible:false,},{targets:4,responsivePriority:3},{targets:5,responsivePriority:3,}],"createdRow":function(row,data,index){if(data[3]=="Y"){$("td",row).addClass('highlight');}},initComplete:function(){$("#example").DataTable().columns(3).search("Y").draw();$("#unfiltered_info").text("Falešné zprávy jsou označeny červeně.");$('.potvrd').on('click',function(){return confirm('Tento odkaz vede na web označený jako dezinformační. Chcete pokračovat?');});},});});</script>
